<div class="form-container">
    <h1 class="title">KREIRAJ NOVU LOZINKU</h1>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <label for="password">Unesite lozinku</label>
            <input id="password" formControlName="password" type="password" placeholder="Unesite novu lozinku" />
            <small *ngIf="submitted && passwordForm.controls['password'].errors?.['required']">
                Lozinka je obavezna!
            </small>
            <small *ngIf="submitted && passwordForm.controls['password'].errors?.['minlength']">
                Lozinka mora imati najmanje 8 karaktera!
            </small>
            <small *ngIf="submitted && passwordForm.controls['password'].errors?.['maxlength']">
                Lozinka ne može imati više od 32 karaktera!
            </small>
            <small *ngIf="submitted && passwordForm.controls['password'].errors?.['pattern']">
                Lozinka mora imati najmanje 2 broja, 1 veliko i 1 malo slovo!
            </small>
        </div>

        <div class="input-group">
            <label for="confirmPassword">Potvrdite lozinku</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Potvrdite novu lozinku" />
            <small *ngIf="submitted && passwordForm.errors?.['passwordMismatch']">
                Lozinke se ne poklapaju!
            </small>
        </div>

        <button type="submit" class="form-btn">Potvrdi</button>
    </form>
</div>
