<div class="user-portal">
  <div class="top-container">
    <img src="assets/banka1.png" alt="Bank Logo" class="bank-logo">
  </div>

  <div class="content">

    <!-- Sidebar komponenta -->
    <app-sidebar (categoryChanged)="setActiveCategory($event)"></app-sidebar>

    <div class="container">

      <div class="row">
        <!-- Prikaz odgovarajuće komponente u zavisnosti od activeCategory -->
        <app-table-employes class="col-12" *ngIf="activeCategory === 'employees'"></app-table-employes>
        <app-table-customers class="col-12" *ngIf="activeCategory === 'customers'"></app-table-customers>
      </div>
    </div>

  </div>


  <div class="bottom-container"></div>
</div>


<app-edit-customer></app-edit-customer>
<app-edit-employee></app-edit-employee>
