<div class="form-container">
    <h1 class="title">PRIJAVI SE</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" formControlName="email" placeholder="Unesite email" />
            <div>
                <small *ngIf="submitted && loginForm.get('email')?.errors?.['required']" class="error-message">
                    E-mail je obavezan!
                </small>
                <small *ngIf="submitted && loginForm.get('email')?.errors?.['email']" class="error-message">
                    Unesite validan e-mail!
                </small>
            </div>
        </div>

        <div class="input-group">
            <label for="password">Lozinka</label>
            <input id="password" type="password" formControlName="password" placeholder="Unesite lozinku" />
            <div>
                <small *ngIf="submitted && loginForm.get('password')?.errors?.['required']" class="error-message">
                    Lozinka je obavezna!
                </small>
                <small *ngIf="submitted && loginForm.get('password')?.errors?.['minlength']" class="error-message">
                    Lozinka mora imati najmanje 8 karaktera!
                </small>
                <small *ngIf="submitted && loginForm.get('password')?.errors?.['maxlength']" class="error-message">
                    Lozinka ne može imati više od 32 karaktera!
                </small>
                <small *ngIf="submitted && loginForm.get('password')?.errors?.['pattern']" class="error-message">
                    Lozinka mora imati najmanje 2 broja, 1 veliko i 1 malo slovo!
                </small>
            </div>
        </div>

        <div class="reset-password">
            <span>Zaboravili ste lozinku? </span>
        </div>
        <div class="reset">
            <a (click)="onResetPassword()" class="reset-link">Resetuj lozinku</a>
        </div>

        <button type="submit" class="form-btn">PRIJAVI SE</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</div>
