.payment-container {
    padding: 20px;
    margin: 64px auto;
    max-width: 700px;
}

.payment-form {
    background-color: #0000004C;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payer-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.payer-account select,
.payment-code .select,
.recipient-account input,
.payment-purpose input,
.amount input,
.adress input,
.reference-number input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #282c34;
    color: white;
    cursor: pointer;
    height: 44px;
}

.payment-code .select {
    width: 130%;  /* Širimo paymentCode input */
}

.recipient-name .MuiInputBase-root {
    height: 44px !important;
    padding: 0 10px !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
}

.recipient-name .MuiInputBase-input {
    color: white !important;
}

.recipient-name .MuiAutocomplete-paper {
    background-color: #282c34 !important;
    color: white;
}

.recipient-name .MuiAutocomplete-option:hover {
    background-color: #3A5F3A !important;
}

.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.recipient-name,
.payment-code,
.recipient-account,
.payment-purpose {
    flex: 1;
}

.amount-row {
    display: flex;
    width: 100%;
    gap: 25px;
}

.amount {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.amount-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.amount-wrapper input {
    flex: 1;
    padding-right: 30px;
}

.currency-display {
    font-weight: 500;
    color: #666;
    min-width: 40px;
    text-align: center;
}

.info-icon {
    position: absolute;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    right: 10px;
}

.adress {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.payment-code select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #282c34;
    color: white;
    cursor: pointer;
    height: 44px;
}

.reference-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.reference-number {
    flex: 1;
}

.submit-button {
    background-color: #3A5F3A;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 48.5%;
    height: 44px;
    margin-top: 24px;
}

.submit-button:hover {
    background-color: #4A7F4A;
}

.warning {
    color: #FF0000;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}
