.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}

.container {
    background-color: #212128;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 1000px;
    min-height: 500px;
    text-align: center;
    position: relative;
    overflow-x: auto;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    overflow-x: auto;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #808080;
    white-space: nowrap;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 20%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 50%;
    text-align: center;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 15%;
    text-align: end;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 15%;
    text-align: end;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.addButtonWrapper {
    display: flex;
    justify-content: flex-end;
}

.addButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.dropdown {
    margin-bottom: 16px;
}

.MuiPagination-root {
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px;
}

/* Media query za mobilne/tablete */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .title {
        font-size: 18px;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 8px;
    }

    .dropdown {
        margin-right: 0;
    }

    .headerRow {
        flex-direction: column;
        align-items: flex-start;
    }

    .addButton {
        justify-content: flex-start;
    }
}
.paginationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}