
.bottom-container {
  width: 100%;
  height: 100px;
  background: rgba(34, 41, 66, 0.8);
  border-radius: 30px;
  position: relative;
  top: 25px;
  bottom: -25px;
}



.main-content {
  flex-grow: 1;
  padding: 20px;
  align-content: center;
  justify-content: center;

}

.table-container {
  background: rgba(236, 212, 135, 0.6);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.table-overlay {
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  color: rgba(18, 22, 35, 1);
}

.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.next-button {
  background: rgba(236, 212, 135, 1);
  color: rgb(34, 41, 66, 1);
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
}

.previous-button {
  background: rgba(236, 212, 135, 1);
  color: rgb(34, 41, 66, 1);
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.filter-add-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.filter-input {
  flex-grow: 1;
  max-width: 300px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  background: rgb(34, 41, 66, 1);
}

.add-customer-btn {
  background: rgba(236, 212, 135, 1);
  color: rgb(34, 41, 66, 1);
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
}

.delete-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;
}



