
<!-- Dugme za otvaranje modala za kreiranje musterije
<button *ngIf="hasCreateCustomerPermission" (click)="openCustomerModal()">Dodaj mušteriju</button>

Modal za kreiranje musterije -->
<!-- <div class="modal-overlay" *ngIf="isCustomerModalOpen" (click)="closeCustomerModal()"></div>
<div class="modal customer-modal" #customerModal *ngIf="isCustomerModalOpen">
  <div class="modal-header">
    <span class="close" (click)="closeCustomerModal()">✖</span>
  </div>
  <div class="modal-body">
    <app-create-customer (customerCreated)="closeCustomerModal()"></app-create-customer>
  </div>
</div> -->

<!-- Dugme za otvaranje modala za kreiranje zaposlenog -->
<!-- <button *ngIf="hasCreateEmployeePermission" (click)="openEmployeeModal()">Dodaj zaposlenog</button> -->

<!-- Modal za kreiranje zaposlenog -->
<!-- <div class="modal-overlay" *ngIf="isEmployeeModalOpen" (click)="closeEmployeeModal()"></div>
<div class="modal employee-modal" #employeeModal *ngIf="isEmployeeModalOpen">
  <div class="modal-header">
    <span class="close" (click)="closeEmployeeModal()">✖</span>
  </div>
  <div class="modal-body">
    <app-create-employee (employeeCreated)="closeEmployeeModal()"></app-create-employee>
  </div>
</div> -->


<router-outlet></router-outlet>
<!-- <h1>banka1Front</h1> -->
