.form-container {
  background-color: #222942;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: #F2E7C6;
}

.form-title {
  color: #ECD487;
  text-decoration: underline;
}


.form-subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.form-label {
  color: #F2E7C6;
  font-style: italic;
  text-align: left;
  display: block;
  margin-bottom: 3px;
}

.form-control {
  background-color: #3B4754;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 15px;
}

.form-control::placeholder {
  color: #aaaaaa;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-column {
  width: 48%;
  margin-bottom: 15px;
}

.form-control.gender {
  width: 90%;
  max-width: 400px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-primary {
  background-color: #3B5445;
  color: #FFFFFF;
  border: none;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 10px;
}

.btn-primary:hover {
  background-color: #34493d;
}

.btn-primary:disabled {
  background-color: #34493d;
  cursor: not-allowed;
}
