<div class="form-container">

  <h2 class="form-title">KREIRAJ NOVI NALOG</h2>
  <p class="form-subtitle">1. OSNOVNI PODACI</p>

  <form (ngSubmit)="onSubmit(employeeForm)" #employeeForm="ngForm">
    <div class="form-row">
      <!-- Leva strana-->
      <div class="form-column left">
        <div class="mb-3">
          <label for="firstName" class="form-label">Ime</label>
          <input type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Prezime</label>
          <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="birthDate" class="form-label">Datum rođenja</label>
          <input type="date" id="birthDate" name="birthDate" [(ngModel)]="employee.birthDate" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="gender" class="form-label">Pol</label>
          <select id="gender" name="gender" [(ngModel)]="employee.gender" required class="form-control">
            <option value="M">Muški</option>
            <option value="F">Ženski</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="employee.email" required class="form-control" />
        </div>

      </div>

      <!-- Desna strana -->
      <div class="form-column right">

        <div class="mb-3">
          <label for="phone" class="form-label">Broj telefona</label>
          <input type="text" id="phone" name="phone" [(ngModel)]="employee.phone" required class="form-control" pattern="^\+381\s?[0-9\s]{8,11}$" placeholder="+381 XX XXXXXXX"/>
        </div>

        <div class="mb-3">
          <label for="address" class="form-label">Adresa</label>
          <input type="text" id="address" name="address" [(ngModel)]="employee.address" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" [(ngModel)]="employee.username" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="position" class="form-label">Pozicija</label>
          <input type="text" id="position" name="position" [(ngModel)]="employee.position" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="department" class="form-label">Departman</label>
          <input type="text" id="department" name="department" [(ngModel)]="employee.department" required class="form-control" />
        </div>

        <div class="mb-3">
          <label for="active" class="form-label">Aktivan</label>
          <input type="checkbox" id="active" name="active" [(ngModel)]="employee.active" class="form-control" />
        </div>
      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Nastavi</button>
    </div>
  </form>
</div>
